/* -[ CSS for Registration Blocker Plugin Ver. 1.2.2, CLC 2024-09-20 ]- */

@media screen and (max-width: 768px) {
	.wrap-blocker.wrap-blocker {
		width 		: fit-content;
		width		: -moz-fit-content;
		margin		: .5em 0 0;
		padding		: 1em;
	}
	.wrap-blocker.wrap-blocker textarea#regblocker_blocked_strings {
		width 		: fit-content;
		width		: -moz-fit-content;
		min-width	: 20em;
		height		: 20em;
	}
	.wrap-blocker.wrap-blocker h1 {
		font-size	: 2.2rem;
		line-height	:  2em;
	}
	.wrap-blocker.wrap-blocker p {
		font-size	: 1.2rem;
	}

}

body {
	background-color: #ffffff;
}

.wrap-blocker {
	height			: 100%;
	max-width		: 50em;
	background-color: #ffffff;
	border-radius	: .5em;
}

.wrap-blocker h1, .wrap-blocker p {
	color: #6913b4; /* Text color of Title and Instructions */
}
.wrap-blocker h1 {
	font-size	: 2rem;
	line-height	:  1.2em;
}
.wrap-blocker p {
	font-size	: 1.1rem;
}

textarea#regblocker_blocked_strings {
	background-color	: #f2fff0;
	border				: 1px solid #8a2be2;
	border-radius		: .5em;
	width				: 40em;
	height				: 30em;
	resize				: vertical;
}

.wrap-blocker .button-primary.button-primary {
	background-color	: #8a2be2; /* Button background color */
	border-color		: #8a2be2; /* Button border color */
	color				: #FFFFFF; /* Button text color */
}

.wrapblocker .button-primary.button-primary:hover {
	background-color	: #7f20d2; /* Slightly darker for hover effect */
	border-color		: #7f20d2;
}

.wp-core-ui .button-primary.button-primary {
	border          : none;
	border-radius   : .5em;
	padding         : .3em 1em;
	cursor          : pointer;
	font-weight     : bold;
	font-size		: 1.2rem;
}

.regblocker_error{
	background		: red;
	color			: white;
	padding			: 1.5em;
	border-radius	: .5em;
	display			: block;
	margin			: 1em 0;
}
.reg-form-message {
	padding		: 0 .5em;
	color		: #6913b4;
}

.truthemes-div {
	/**/
	position	: relative;
	bottom		: 0;
	left		: 0;
}

a.noogies {
	/**/
	color		: #2D6582;
}
a.noogies:hover {
	/**/
	color		: #FF6100;
}

a.truthemes-a {
	color		: #644CFF;
}
a.truthemes-a:hover {
	color		: #f351ff;
}
